= form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :price
    %br/
    = f.number_field :price

  %h3 Photos
  #photos
    = f.fields_for :photos do |photo|
      = render 'photo_fields', f: photo
    .links
      = link_to_add_association 'add photo', f, :photos

  .actions
    = f.submit
