%p#notice= notice
%p
  %strong Name:
  = @item.name
%p
  %strong Price:
  = @item.price
%ul
  - @item.photos.each do |photo|
    %li
      = photo.title

= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
